<!DOCTYPE html>
<html>


<!-- Mirrored from socialyte.codeplus.it/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Apr 2019 23:46:45 GMT -->
<head>
    <title>Signin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css" type="text/css">
    <script src="/public/lib/jquery-3.2.0.min.js"></script>
    <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/lib/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/style.css" type="text/css">
</head>

<body id="login-page">

    <div class="form-box">
        <div class="form-logo">
            <p class="text-center"><img src="public/img/logo1.png" alt="logo"></p>
        </div>
        <form action="signup" method="POST" >
            <input type="text" name="username" class="form-control" placeholder="Kullanıcı Ad">
            <input type="email" name="mail" class="form-control" placeholder="Mail">
            <input type="password" name="password" class="form-control" placeholder="Şifre">
            <input type="submit" class="btn btn-social" value="Kayıt ol">
        </form>
        <a href="login" class="login-action" title="login">
            <p>Zaten üye misin</p>
        </a>
    </div><!--close form-box-->

    <footer class="login-footer text-center">
        <div class="col-xs-3">
            <a class="login-action" href="#" title="language">LANGUAGE</a>
        </div>
        <div class="col-xs-3">
            <a class="login-action" href="#" title="terms">TERMS</a>
        </div>
        <div class="col-xs-3">
            <a class="login-action" href="#" title="privacy">PRIVACY</a>
        </div>
        <div class="col-xs-3">
            <a class="login-action" href="#" title="careers">CAREERS</a>
        </div>
    </footer>

</body>


<!-- Mirrored from socialyte.codeplus.it/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Apr 2019 23:46:45 GMT -->
</html>
